@using SchoolProject.Models
@model AddUserViewModel

@{
    ViewData["Title"] = "Create User Page";
}

<div class="text-center">
    <h1 class="display-4">create user page</h1>
    @using (Html.BeginForm())
    {
        <select asp-items="@(new SelectList(Model.SchoolList, "SchoolId", "SchoolName", Model.User.SchoolId))" asp-for="@Model.User.SchoolId" class="form-control">
            <option value="0">Please select an option</option>
        </select>

            <button type="submit" class="btn btn-default">Submit</button>
    }

</div>
