@model SchoolProject.Models.UserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <hr />
    <partial name="_UserInfoPartial" for="@Model" />
    
    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <input type="hidden" asp-for="User.UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>