@model SchoolProject.Models.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_UserFormPartial" for="@Model" />
        </form>
    </div>
</div>