@using SchoolProject.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <table class="table table-bordered table-striped table s-m">
        <partial name="_UserTablePartial" for="@Model" />
    </table>


    <div class="text-center"><a asp-controller="User" asp-action="Create" class="btn btn-secondary">New</a></div>
</div>