@using SchoolProject.Models
@model IEnumerable<Course>
@{
    ViewBag.Title = "Courses";
}
<div>
    <h1 class="display-4 text-center">@ViewBag.Title</h1>
    <table class="table table-bordered table-striped table s-m">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.CourseDescription</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">@Html.ActionLink("New", "create")</div>
</div>

