@using SchoolProject.Models
@model School
@{
    ViewBag.Title = "New School";
}
<h1>@ViewBag.Title</h1>
@using(Html.BeginForm()){
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.SchoolName)
        @Html.TextBoxFor(model => model.SchoolName, new { @class="form-control"})
        <span asp-validation-for="SchoolName"></span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}