@model SchoolProject.Models.School

@{
    ViewData["Title"] = "Edit School";
}
<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_SchoolFormPartial" for="@Model" />
        </form>
    </div>
</div>